# Text files should have LF endings in the repository but be converted to CRLF on Windows.
* text=auto 

# Explicitly set the line ending style for specific files or directories.
*.sh eol=lf
*.bat eol=crlf